.btn {
  padding: 15px 50px;
}

.btn:hover {
  text-decoration: none;
}

.btn-black {
  background: black;
  color: white;
}

.btn-white {
  background: white;
  color: black;
}

.btn-green {
  background: $color2;
  color: black;
}

.roundd {
  border-radius: 25px!important;
}

.btn-green2 {
  background: $color2;
  color: black;
}