/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

form.wpcf7-form {
  p {
    span {
      input {
        padding: 20px 30px;
        margin-bottom: 20px;
        max-width: 250px;
        border: none;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ccc;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ccc;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ccc;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ccc;
        }
      }
    }
    input.wpcf7-submit {
      border: none;
      background: $lime;
      display: block;
      font-weight: bold;
      color: black;
      width: 100%;
      padding: 20px 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

div.uk-width-1-1 { 
  span {
    max-width: 70%;
    input {
      max-width: 85%;
      padding: 15px 20px;
      border: none;
    }
    textarea {
      margin-top: 20px;
      width: 95%;
      padding: 15px 20px;
      border: none;
    }
  }
}

div#wpcf7-f63-o2 {
  form {
    position: relative;
    p {
      position: absolute;
      right: 10px;
      bottom: -115px;
      input {
        border: none;
        background: $lime;
        display: block;
        font-weight: bold;
        color: black;
        width: 150px;
        padding: 20px 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}