#stackfold {
  min-height: 80vh;
  padding-bottom: 200px;
  .h1 {
    padding-top: 100px;
  }
}

.stackcontent {
  div.nav {
    background: #3C4F65;
    ul.uk-grid {
      text-align: center;
      li {
        padding: 40px;
        transition: .25s all ease-in-out;
        a {
          color: white;
          text-decoration: none;
          letter-spacing: .05em;
        }
        &.uk-active {
          background: #FF5733;
          a {
            font-weight: bold;
            
          }
        }
        &:hover {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.bgcream {
  background: #FFF5EF;
}

.color-orange {
  color: #FF8162;
}

.color-teal {
  color: #41AAA8;
}

.bgteal {
  background: #E8F6F6;
}

.bgorange {
  background: #FBECE2;
}

.steps {
  .gridxs {
    .uk-padding {
      .uk-grid {
        .uk-width-1-6 {
          margin-top: 5px;
          .stepcircle {
            background: #007AFF;
            margin-top: 10px;
            padding: 13px 15px;
            text-align: center;
            border-radius: 35px;
            span {
              font-size: 125%;
            }
          }
        }
        .uk-width-5-6 {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.whatifelt {
  .gridl {
    .uk-grid {
      .uk-width-1-1 {
        img {
          max-width: 80%;
        }
      }
    }
  }
}

.current, .adding {
  .gridxl {
    position: relative;
    .lefttext {
      position: absolute;
      left: -60px;
      top: 20px;
      h3 {
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
    }
    .uk-grid {
      .uk-width-1-1 {
        .bgorange, .bgteal {
          h4 {
            font-size: 160%!important;
          }
          ul {
            list-style-type: none;
            padding-left: 0;
            li {
              padding: 10px 5px;
            } 
          }
        }
      }
    }
  }
}

.adding {
  padding-bottom: 200px;
}

.limec {
  color: #6EFFBF;
}

.keypoints {
  margin-top: -75px;
  .uk-grid {
    .uk-width-1-1 {
      .bg3 {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        text-align: center;
        border-radius: 150px;
        h4 {
          padding-top: 50px;
        }
      }
    }
  }
}

.testresults {
  margin-top: -75px;
  .gridm {
    .uk-block {
      h2 {
        margin-bottom: 20px;
      }
      a.btn.squared.lime {
        background: #6EFFBF;
        padding: 10px 25px;
        color: black;
      }
    }
  }
}

@media (max-width: 1500px) {
  .current, .adding {
    .gridxl {
      .lefttext {
        left: -40px;
      }
      .uk-grid {
        margin-right: -40px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .current, .adding {
    .gridxl {
      .lefttext {
        top: -40px;
        left: 0;
        width: 100%;
        text-align: center;
        h3 {
          transform: none!important;
          writing-mode: initial;
        }
      }
      .uk-grid {
        margin-right: 0;
        .uk-width-1-1 {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 959px) {
  .uk-grid {
    div {
      margin: 10px auto;
    }
  }
}

@media (max-width: 639px) {
  .uk-grid {
    margin-left: 0;
    div {
      padding-left: 0;
      margin: 10px auto;
    }
  }
  .uk-grid-medium {
    margin-left: 0;
  }
  .whatiwant {

  }
}