.bg-dark {
  background: $color4;
}

#foot.non-contact {
  padding-top: 300px;

  .gridxl {
    div {
      #brand {
        img {
          max-width: 350px;
        }
      }

      div.uk-width-medium-1-3 {
        span,
        a > span {
          font-size: 18px;
        }
      }
    }
  }
}

#foot.contact {
  padding-top: 50px;

  .gridxl {
    div {
      #brand {
        img {
          max-width: 350px;
        }
      }

      div.uk-width-medium-1-3 {
        span,
        a > span {
          font-size: 18px;
        }
      }
    }
  }
}

footer .gridxl div#navv .uk-grid .uk-width-1-2 a {
  text-decoration: none;
  color: white;
  display: block;
}

.footercta {
  background: white;
  margin-bottom: -150px;
  z-index: 10000;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  display: block;
  position: relative;

  div.gridm {
    div.uk-grid {
      div.uk-width-1-1 {
        h3 {
          font-weight: 700 !important;
        }
      }
    }
  }
}

footer.banner .gridl .uk-grid > div ul {
  list-style-type: none;
  padding-left: 0;
}
footer.banner .gridl .uk-grid > div ul li {
  color: #929298;
  padding: 15px 0;
}

footer.banner .gridl .uk-grid > div#questions a {
  display: block;
  margin: 15px 0;
}

footer.banner .gridl .uk-grid > div#questions a.help {
  color: #929298;
}



