header {
  background: white;
  padding: 15px 0;
  position: fixed;
  box-shadow: 0 0 4px rgba(0,0,0,0.33);
  z-index: 1000000000;
  top: 0;
  left: 0;
  width: 100%;
  .brand {
    a {
      text-decoration: none;
      span {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
        span {
          text-decoration: none;
        }
      }
    }
  }
  .rightmenu {
    a {
      text-decoration: none;
      span {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
        span {
          text-decoration: none;
        }
      }
    }
  }
  .nav {
    ul {
      li {
        padding: 20px;
        display: inline-block;
        a {
          font-size: 18px;
          font-weight: 500;
          line-height: 16px;
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          a {
            text-decoration: none;
          }
        }

        &.menu-item-has-children {
          ul.sub-menu {
            display: none;
            padding-left: 0;
            width: 200px;
            position: absolute;
            transition: 0.25s all ease-in-out;
            background: white;
            text-align: left;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.33);

            li {
              display: block;
              padding: 5px 10px;
              border-top: 1px solid #ccc;

              &:first-of-type {
                border-top: none;
              }
            }
          }

          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
}

header nav.nav-primary ul li#menu-item-65572 {
  border-left: 1px solid #ccc;
}

header nav.nav-primary ul li#menu-item-65572 a {
  font-weight: 700;
}

@media (max-width: 1151px) {
  .nav-middle {
    display: none;
  }

  .nav-responsive-menu {
    display: inline-block;
    margin-top: -93px;
  }
}

@media (max-width: 478px) {
  a.brand > img {
    max-width: 200px;
  }
}

.headerbrand {
  font-size: 46.22px;
  color: black;
}

header.banner {
  padding-top: 10px;
  padding-bottom: 10px;
}

header.banner .gridxl .uk-grid div ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

header.banner .gridxl .uk-grid div ul li {
  display: inline-block;
  padding: 20px 10px;
}