/* Home Page */ 

.switcherone {
  .gridl {
    .uk-grid {
      div {
        .uk-block-small {
          h4 {
            font-size: 1.75em;
          }
        }
      }
    }
    .uk-block-small {
      .uk-grid {
        .nav {
          ul {
            list-style-type: none;
            padding-left: 0;
            li {
              padding: 20px 20px;
              display: block;
            }
          }
        }
        .content {
          ul {
            li {
              .uk-grid {
                .single-p {
                  
                  .bg {
                    background-image: url('/wp-content/uploads/2019/01/wavebg.png');
                    margin-bottom: 15px;
                    .container {
                      background: #A1BBD3;
                      img {
                        left: 50%;
                        position: relative;
                        margin-left: -125px;
                      }
                      .text {
                        background: white;
                        z-index: 1000;
                        display: block;
                        position: relative;
                        padding: 2px 10px;
                        h4.name {
  
                        }
                        span {
  
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.switchertwo {
  padding-bottom: 150px;
  .gridl {
    .uk-grid {
      .nav {
        ul {
          list-style-type: none;
          padding-left: 0;
          li {
            display: block;
            padding: 20px 30px;
          }

          &::before {
            border-bottom: none;
          }
        }
      }
      .content {
        ul {
          li {
            .single-2 {
              position: relative;
              .container {
                margin: 25px 0px;
                img {
                
                }
                span {
                  position: absolute;
                  top: 90px;
                  left: 10px;
                  color: black;
                  background: white;
                  padding: 10px 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#fold {
  min-height: 100vh;
  background-color: $peach;
}

#fold .gridm .uk-grid > div {
  padding-top: 20px!important;
}

#fold {
  .aging {
    padding-top: 40px;
    
  }
}

.emailcapture {
  .grids {
    .uk-grid {
      div {
        .live {
          color: #6AF2FD;
          
        }
        .get {
          color: #4877FF;
        }
        .love {
          color: #1BD181;
        }
      }
    }
  }
}

.videoblock .uk-grid > .bp {
  margin: 10px auto;
}

.videoblock .uk-grid > .bp > .blogpost > .text {
  padding: 40px 70px;
}

.blogpost {
  max-width: 350px;
  margin: 0 auto;
}

.blogpost img {
  margin: 0 auto;
}

.blogpost .text {
  z-index: 1000;
  min-height: 140px;
}

.offcanv {
  position: absolute;
  left: 30px;
  display: none;
  top: 30px;
  a {
    span {
      color: black;
      width: 60px;
      height: 60px;
      font-weight: bold;
    }
  }
}

#my-id {
  z-index: 100000000000;
  .uk-offcanvas-bar {
    background: white;
    box-shadow: 1px 0 6px rgba(0,0,0,0.2);
    ul.menu {
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      li {
        display: block;
        padding: 10px 20px;
        a {
          color: black;
          font-size: 18px;
        }
      }
    }
  }
}




#video a .iconholder {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  background: #6EFFBF;
  border-radius: 200px;
  text-align: center;
}

#video a .iconholder i {
  margin-top: 42px;
  margin-left: 8px;
  font-size: 40px;
  color: #0033C7;
}

#video a {
  margin: 0 auto;
  display: block;
  padding-top: 200px;
}

#video a .iconholder {
  margin-bottom: 30px;
}

.emailcapture {
  padding: 25px 0;
}

.emailcapture div .uk-grid div.button {
  margin-top: 10px;
}

.switcherone a.btn-black {
  display: block;
  margin-top: 30px;
  position: relative;
  max-width: 175px;
  text-align: center;
  float: right;
}

.switchertwo a.btn-black {
  display: block;
  margin-top: 30px;
  position: relative;
  max-width: 175px;
  text-align: center;
  float: right;
  margin-right: 50px;
}

.product-review {
  .gridl {
    .prheader {
      img {
        padding-bottom: 10px;
      }
      h3 {
        margin-top: 10px;
      }
    }
    ul.uk-grid {
      li {
        margin: 0 auto;
        div {
          .circle {
            width: 150px;
            height: 150px;
            border-radius: 200px;
            background-color: #DDE2F1;
            color: #0033C7;
            margin: 0 auto;
            span {
              padding-top: 55px;
              position: relative;
              display: block;
              font-weight: bold;
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
        &.uk-active {
          .circle {
            background-color: #0033C7;
            span {
              color: white;
            }
          }
        }
      }
    } 
    ul.uk-switcher {
      li {
        .single-product {
          .uk-grid {
            max-height: 400px;
            .border {
              background-image: url("/wp-content/uploads/2019/01/bluewave.png");
              padding: 20px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .text {
              padding: 40px 0px;
              margin-top: -20px;
              .container {
                background: white;
                padding: 45px 20px;
                span {
                  display: inline-block;
                }
                a {
                  display: block;
                  max-width: 110px;
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.product-review .gridl > div .uk-grid .uk-width-1-2 {
  text-align: center;
}

.stack .gridl .uk-grid #left img, .stack .gridl .uk-grid #right img {
  margin: 25px;
}

.stack .gridl .uk-grid #left img.img1 {
  margin-top: 70px;
}

.stack .gridl .uk-grid #left img.img2 {
  margin-bottom: 70px;
}

.stack .gridl .uk-grid #right img.img2 {
  margin-top: 70px;
}

.stack .gridl .uk-grid #right img.img1 {
  margin-bottom: 70px;
}

.stack .uk-grid > div > .active {
  color: #907eff;
}

.stack .uk-grid > div > .nonactive {
  color: #929298;
}



/* Providers */ 

.providers-fold {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
  .img {
    position: absolute;
    bottom: -15px;
    width: 100%;
    text-align: center;
  }
}

.providers-sub-fold {
  .gridxl {
    .uk-grid {
      .main {
        position: relative;
        .content {
          max-width: 300px;
          position: absolute;
          z-index: 100;
          right: 10%;
          bottom: 10px;
        }
      }
    }
  }
}

.claim-form {
  margin-top: -137px;
  z-index: 1000;
}

#primepro {
  .gridxl {
    .uk-padding {
      .uk-block-small {
        h2 {
          text-transform: uppercase;
        }
      }
      .uk-grid {
        div {
          margin-bottom: 30px;
          p {
            color: white;
            padding-right: 30px;
          }
          &.buttonblock {
            padding-top: 50px;
            a {
              background: $lime;
              color: black;
              text-transform: uppercase;
              box-shadow: 10px 8px 0px black;
            }
          }
        }
      }
    }
  }
}

/* FOR HIM */ 

.roll {
  padding-bottom: 30px;
  .tabs-container {
    padding: 10px 0;
  }
  ul.tabsul {
    margin: 0 auto;
    width: 100%;
    border-bottom: 6px solid $color4;
    list-style-type: none;
    padding-left: 0;
    li {
      text-align: center;
      padding: 20px 40px;
      display: inline-block;
      a {
        color: black;
        letter-spacing: .75px;
        &:hover {
          text-decoration: none;
        }
      }
      &.uk-active {
        border-bottom: 6px solid $color3;
        a {
          color: $color3;
          font-weight: bold;
        }
      }
    }
  }
  ul.uk-switcher {
    li {
      section {
        div.gridxl {
          > div {
            > div.item {
              a {
                div.container {
                  border-radius: 10px;
                  overflow: hidden;
                  border: 1px solid $color4;
                  box-shadow: 0 3px 0 $color4;
                  transition: .25s all ease-in-out;
                  img {
                    width: 100%;
                  }
                  .text {
                    padding: 20px;
                    
                    p.cat {
                      color: $color4;
                      text-transform: uppercase;
                      margin-bottom: 1px;
                    }
                    p.excerpt {
                      margin-top: 0px;
                      color: black;
                    }
                  }
                }
                &:hover {
                  text-decoration: none;
                  div.container {
                    transform: scale(1.005);
                    box-shadow: 0 5px 0 $color4;
                  }
                }
              } 
            }
          }
        }
      }
    }
  }
}

.switcherone, .switchertwo {
  .nav {
    ul {
      li.uk-active {
        font-weight: bold;
      }
      li {
        a {
          font-size: 16px;
          text-transform: none!important;
        }
      }
    }
  }
}


.item {
  .cta {
    border-radius: 10px;
    overflow: hidden;
    .container {
      padding: 40px;
    }
    #mc_embed_signup10 {
      margin-top: 20px;
      input[type="text"], input[type="email"] {
        width: 290px;
        height: 25px;
        padding: 12px 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background: white;
      }
      
      input[type="submit"] {
        padding: 15px 30px;
        width: 100%;
        margin-top: 10px;
        background: #6EFFBF;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        border: 0;
        -webkit-appearance: none;
      }
    }
  }
}

/* About Page */ 

#aboutfold {
  position: relative;
  min-height: 90vh;
  width: 100%;
  img.left {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
  }
  img.right {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 0;
  }
  div.gridl {
    padding-top: 50px;
    img {
      max-width: 800px;
    }
    .copy {
      h1 {
        position: relative;
        z-index: 100000;
      }
    }
  }
}

#aboutbelowfold {
  .gridl {
    .uk-grid {
      .uk-width-1-1 {
        .uk-padding {
          padding-top: 200px;
        }
        img {
          max-height: 600px;
        }
      }
    }
  }
}

#aboutpagebreak {
  position: relative;
  .gridm {
    p {
      z-index: 100;
    }
  }
  span {
    z-index: 90;
    font-size: 112px;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
    position: absolute;
    &.left {
      left: 50px;
      bottom: -30px;
    }
    &.right {
      top: -70px;
      right: 50px;
    }
  }
}

#values {
  .uk-block {
    padding-bottom: 30px;
    .uk-grid {
      .valuescontainer {
        p {
          padding: 30px;
          font-size: 130%;
        }
      }
      div {
        img {
          max-width: 80px;
        }
      }
    }
  }
}

#staff, #advisors {
  .uk-grid {
    .uk-width-1-1 {
      margin-bottom: 70px;
      .container {
        max-width: 350px;
        box-shadow: 40px 40px 0 $lime;
        position: relative;
        img {
          width: 100%;
        }
        .text {
          position: absolute;
          bottom: 0;
          max-width: 350px;
          width: 94.5%;
          padding: 5px 10px;
          p {
            margin: 0;
          }
        }
      }
      .container2 {
        max-width: 350px;
        box-shadow: 40px 40px 0 $color3;
        position: relative;
        img {
          width: 100%;
        }
        .text {
          position: absolute;
          bottom: 0;
          max-width: 350px;
          width: 94.5%;
          padding: 5px 10px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.heading {
  padding-bottom: 50px;
}

/* Start Here */ 
#startfold {
  .gridxl {
    .uk-grid {
      .left {
        position: relative;
        padding-top: 75px;
        img {
          position: absolute;
          top: 300px;
          left: -10px;
          max-width: 150px;
        }
        .content {
          z-index: 10000;
          position: relative;
          display: block;
          padding-top: 200px;
          padding-left: 100px;
        }
      }
      .right {
        .content {
          padding-top: 150px;
        }
      }
    }
  }
}

#ctapagebrk {
  position: relative;
  .gridl {
    .uk-grid {
      .content {
        p {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
  span {
    z-index: 90;
    font-size: 112px;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
    position: absolute;
    &.left {
      left: 50px;
      bottom: -30px;
    }
    &.right {
      top: -70px;
      right: 50px;
    }
  }
}

#belowbrk {
  min-height: 60vh;
  overflow: hidden;
  .gridl {
    position: relative;
    .uk-flex {
      .content {
        position: relative;
        text-align: right;
        img {
          max-width: 550px;
        }
        .text {
          position: absolute;
          top: 130px;
          left: 100px;
          padding: 15px;
        }
      }
    }
    .bottomtxt {
      position: absolute;
      left: 0;
      bottom: -225px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.aboutlink {
  position: relative;
  .bg3 {
    position: absolute;
    right: 0;
    top: 40%;
  }
}

#explainer {
  .gridl {
    .uk-grid {
      .bottomcopy {
        padding-top: 30px;
        .copy {
          border-left: 6px solid $color3;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
#reviews, #mystacks, #providers {
  position: relative;
  .gridxl {
    div {
      .uk-slider-container {
        .uk-slider-items {
          li.guide {
            .container {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
#guides {
  position: relative;
  .gridxl {
    div {
      .uk-slider-container {
        .uk-slider-items {
          li.guide {
            .container {
              padding: 20px;
              position: relative;
              img {
                min-width: 100%;
                height: auto;
              }
              .text {
                position: absolute;
                top: 50px;
                max-width: 50%;
                left: 25px;
                span.thetitle {
                  background: white;
                  padding: 10px 20px;
                  margin-bottom: 10px;
                  display: block;
                }
                span.thecategory {
                  display: block;
                  margin-top: 20px;
                  color: white;
                  text-align: center;
                  border: 1px solid white;
                  padding: 5px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.signupstart {
  position: absolute;
  width: 200px;
  top: 35%;
  z-index: 1000;
  right: 0;
  #mc_embed_signupstart {
    position: relative;
    input[type="text"], textarea[type="email"] {
      width: 140px;
      text-align: center;
      height: 70px;
      padding: 12px 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 15px;
      resize: none;
      background: white;
    }
    
    input[type="submit"] {
      padding: 15px 30px;
      width: 80%;
      position: absolute;
      bottom: 25px;
      border-radius: 30px;
      background: #6EFFBF;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      border: 0;
      left: 50%;
      margin-left: -40%;
      -webkit-appearance: none;
    }
  }
}
li.guide {
  .single-product {
    text-align: left;
    .uk-grid {
      max-height: 400px;
      .border {
        background-image: url("/wp-content/uploads/2019/01/bluewave.png");
        padding: 20px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        padding: 40px 0px;
        margin-top: -20px;
        .container {
          background: white;
          padding: 65px 40px;
          p {
            padding-right: 50px;
          }
          span {
            display: inline-block;
          }
          a {
            display: block;
            max-width: 110px;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

#mystacks {
  .gridxl {
    div {
      .uk-slider-container {
        .uk-slider-items {
          li.guide {
            .container {
              position: relative;
              img {
                border-radius: 15px;
                overflow: hidden;
              }
              span.thetitle {
                position: absolute;
                padding: 5px 10px;
                bottom: 30px;
                width: 70%;
                left: 50%;
                margin-left: -35%;
              }
            }
          }
        }
      }
    }
  }
}