body.single {
  background: $color5;
}

.head {
  padding: 10px 20px;
}

#top {
  padding-bottom: 50px;
}

#new {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
  .uk-width-1-1 {
    .single {
      border-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
}

.providers {
  .uk-grid {
    .single {
      background-image: url('/prime/wp-content/uploads/2019/01/graywave.png');
      max-width: 335px;
      height: 345px;
      margin: 15px;
      padding: 20px;
      .container {
        background: #A1BBD3;
        img {
          left: 50%;
          position: relative;
          margin-left: -125px;
        }
        .text {
          background: white;
          padding: 5px;
        }
      }
    }
  }
}

#article { 
  padding-bottom: 50px;
  > div.levelgrid {
    min-height: 500px;
    margin-bottom: 50px;
    .cta {
      position: relative;
      height: 500px;
      .level {
        position: absolute;
        max-width: 200px;
        top: 20px;
        right: 20px;
        p {
          background: black;
          color: white;
          text-transform: uppercase;
          padding: 10px 20px;
        }
      }
    }
  }
  .topmeta {
    > div {
      padding-top: 5px;
    }
  }
}

#mc_embed_signup {
  position: absolute;
  bottom: 30px;
  left: 30px;
  input[type="email"] {
    width: 300px;
    height: 20px;
    padding: 15px 30px;
    padding-right: 50px;
    border: none;
    background: white;
    border-radius: 35px;
  }
  
  input[type="submit"] {
    margin-left: -120px;
    padding: 14px 20px;
    border-radius: 30px;
    margin-right: 10px;
    background: #6EFFBF;
    text-transform: uppercase;
    color: black;
    border: 0;
    -webkit-appearance: none;
  }
} 

#mc_embed_signup3 {
  position: relative;
  padding-top: 40px;
  input[type="email"] {
    width: 300px;
    height: 20px;
    padding: 15px 30px;
    padding-right: 50px;
    border: none;
    background: white;
    border-radius: 35px;
  }
  
  input[type="submit"] {
    margin-left: -120px;
    padding: 14px 20px;
    border-radius: 30px;
    margin-right: 10px;
    background: #6EFFBF;
    text-transform: uppercase;
    color: black;
    border: 0;
    -webkit-appearance: none;
  }
} 
#mc_embed_signupgray {
  position: relative;
  padding-top: 40px;
  input[type="email"] {
    width: 300px;
    height: 20px;
    padding: 15px 30px;
    padding-right: 50px;
    border: none;
    background: $color4;
    border-radius: 35px;
  }
  
  input[type="submit"] {
    margin-left: -120px;
    padding: 14px 20px;
    border-radius: 30px;
    margin-right: 10px;
    background: #6EFFBF;
    text-transform: uppercase;
    color: black;
    border: 0;
    -webkit-appearance: none;
  }
} 

.post-meta {
  max-width: 300px;
  background: white;
  border: 1px solid $color4;
  border-radius: 5px;
  padding: 30px;
  .uk-grid {
    > div {
      padding-top: 5px;
      img {
        border-radius: 120px;
      }
      span.written, p {
        margin-top: 2px;
        margin-bottom: 3px;
      }
      .written {
        color: $pink;
        font-weight: bold;
      }
    }
  }
}

.single-p {
  .bg {
    background-image: url('/prime/wp-content/uploads/2019/01/graywave.png');
    background-position: 50%;
    background-size: cover;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    .container {
      background: #A1BBD3;
      .text {
        background: white;
        padding: 5px;
      }
    }
  }
}

.sidebar {
  .cta {
    padding: 20px;
    .container {
      max-width: 380px;
      min-height: 400px;
      .interior {
        padding: 50px;
      }
    }
  }
}

#mc_embed_signup2 {
  margin-top: 20px;
  input[type="text"], input[type="email"] {
    width: 220px;
    height: 25px;
    padding: 12px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background: white;
  }
  
  input[type="submit"] {
    padding: 15px 30px;
    width: 100%;
    margin-top: 10px;
    background: #6EFFBF;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    border: 0;
    -webkit-appearance: none;
  }
}