.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.66);
}

.uk-block-small {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.uk-block {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.uk-block-large {
  display: block;
  padding-top: 150px;
  padding-bottom: 150px;
}

.grayline {
  height: 1px;
  margin: 15px 0;
  background: #333;
  width: 100%;
}

.roundcorner {
  border-radius: 15px;
}

.bg1 {
  background: $color1;
}
.bg2 {
  background: $color2;
}
.bg3 {
  background: $color3;
} 
.bg4 {
  background: $color4;
}
.bg5 {
  background: $color5;
}

.bg6 {
  background: #1B1A24;
}

.bg7 {
  background: #252431;
}

.bgpeach { 
  background: $peach;
}

.bgdark {
  background: $dark;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: white;
}

.line100 {
  width: 100%;
  height: 2px;
}

.ntm {
  margin-top: 0;
}

.line25 {
  margin: 10px 0;
  height: 6px;
  border-radius: 3px;
  background: black;
  width: 50px;
}


.followus {
  span {
    a {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
