.gridxl {
  max-width: 1366px;
  display: block;
  margin: 0 auto;
}

.gridl {
  max-width: 1080px;
  display: block;
  margin: 0 auto;
}

.gridm {
  max-width: 968px;
  display: block;
  margin: 0 auto;
}

.grids {
  max-width: 768px;
  display: block;
  margin: 0 auto;
}

.gridxs {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
