@media (max-width: 1400px) {
  .gridxl {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1099px) {
  .gridl {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn {
    padding: 15px 30px;
  }
}

/* FOR PROVIDERS PAGE */ 
@media (max-width: 1399px) {
  .providers-sub-fold {
    .uk-grid {
      .main {
        margin-bottom: 20px;
      }
      .sidebar {
        width: 341px;
        margin-top: 20px;
        margin: 0 auto;
      }
    }
  }
  #primepro {
    padding-bottom: 0;
  }

  
}

@media (max-width: 639px) {
  #providerscontact {
    .uk-text-center {
      span {
        input {
          display: block;
          width: 100%;
          margin: 10px auto;
        }
        textarea {
          width: 85%;
          margin: 10 auto;
          display: block;
        }
      }   
    }
  }
}


/* FOR HIM PAGE */ 

@media (max-width: 1399px) {
  .item {
    .cta {
      .container {
        .interior {
          #mc_embed_signup10 {
            form {
              div {
                div.mc-field-group {
                  input {
                    display: block;
                    max-width: 80%;
                    margin: 10px auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 639px) {
  body.page-template-template-forhim {
    div.wrap.container {
      div.content {
        main {
          .uk-block {
            .gridxl {
              .uk-grid {
                .single-p {
                  margin: 10px auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 444px) {
  #mc_embed_signup3 {
    form {
      div {
        input[type="text"] {
          width: 70%!important;
          margin: 10px auto;
        }
        input[type="submit"] {
          margin-left: 0;
          width: 100%;
          margin: 10px auto;
        }
      }
    }
  }
}


/* ABOUT PAGE */ 
@media (max-width: 959px) {
  img.right, img.left {
    display: none;
  }
  #aboutbelowfold {
    .gridl {
      .uk-grid {
        .img {
          margin: 10px auto;
        }
      }
    }
  }
  .valuescontainer {
    display: none;
  }
  #values {
    .uk-block {
      .uk-grid {
        div {
          margin: 10px auto;
        }
      }
    }
  }
  #aboutfold {
    div.gridl {
      img {
        width: 90%;
        margin: 10px auto;
      }
      .copy {
        h1 {
          font-size: 48px!important;     
        }
      }
    }
  }
}

@media (max-width: 639px) {
  #staff, #advisors {
    .uk-grid {
      div {
        margin: 10px auto;
      }
    }
  }
}


/* START HERE PAGE */
@media (max-width: 1099px) {
  #providers, #guides, #reviews, #mystacks {
    .gridxl {
      div {
        .uk-slider-container {
          ul {
            li {
              > h2.bold {
                font-size: 36px!important; 
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 959px) {
  #startfold {
    .gridxl {
      .uk-grid {
        div {
          margin: 10px auto;
        }
      }
    }
  }
  #ctapagebrk {
    span.left, span.right {
      display: none!important;
    }
  }
  #explainer {
    .gridl {
      .uk-grid {
        div {
          margin: 10px auto;
        }
      }
    }
  }
}

/* SINGLE POST */ 

#article {
  .gridxl {
    .uk-grid {
      .sidebar {
        .single-p {
          margin: 10px auto;
        }
        .cta {
          .container {
            margin: 10px auto;
            position: relative;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  #article {
    .gridxl {
      .uk-grid {
        .sidebar {
          .single-p {
            margin: 10px auto;
          }
          .cta {
            .container {
              margin: 10px auto;
              position: relative;
              .interior {
                div {
                  form {
                    div {
                      .mc-field-group {
                        input {
                          max-width: 80%;
                          margin: 10px auto;
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* HOME PAGE */ 
@media (max-width: 1199px) {
  .switcherone {
    .nav {
      ul {
        li {
          display: block;
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 966px) {
  .switcherone, .switchertwo {
    .nav {
      ul {
        li {
          display: inline-block;
          width: auto;
          margin: 10px auto;
        }
      }
    }
  }
  .switchertwo {
    .content {
      ul {
        text-align: center;
        li {
          text-align: left;
          margin: 10px auto;
          max-width: 345px;
        }
      }
    }
  }
  .product-review {
     ul.uk-switcher {
      li {
        .single-product {
          .uk-grid {
            .border {
              max-width: 400px;
            }
          }
        }
      }
     }
  }
  .stack {
    .gridl {
      .uk-grid.images {
        #left, #right {
          display: none;
        }
      }
      .uk-grid.names {
        .one, .two, .four, .five {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .single-product {
    .uk-grid {
      .border {
        display: none!important;
      }
      .text {
        margin: 10px auto;
      }
    }
  }
}

/* HEADER */ 

@media (max-width: 985px) {
  header.banner {
    .gridxl {
      .uk-grid {
        .brand {
          margin: 0 auto;
        }
        .nav, .rightmenu {
          display: none;
        }
      }
    }
    .offcanv {
      display: block;
    }
  }
}