* {
  font-family: 'Rubik', sans-serif!important;
}

h1 {
  font-weight: 700!important;
  font-size: 71.1px!important;
}

h2 {
  font-size: 46.22px!important;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.accent {
  color: #FD7A7A;
}

.title {
  font-weight: bold;
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 6px;
    width: 50%;
    background: $color3;
  }
}



h1, h2, h3, h4 {
  margin-bottom: 0!important;
  margin-top: 0!important;
}

h3 {
  line-height: 36px;
  font-size: 36px;
}

h4 {
  font-size: 22px!important;
  line-height: 32px!important;
  font-weight: bold!important;
}

.bold {
  font-weight: 700;
}

.color-green,
.green {
  color: $color2;
}

.color-blue,
.blue {
  color: $color1;
}

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}

.color1{
  color: $color1;
}
.color2{
  color: $color2;
}
.color3{
  color: $color3;
}
.color4{
  color: $color4;
}
.color5{
  color: $color5;
}

.underlined {
  border-bottom: 6px solid $color3;
  border-bottom-color: $color3;
  display: inline;
}

.tags {
  padding: 5px 15px;
  color: white;
  background: black;
  border-radius: 25px;
  margin-right: 10px;
  display: inline-block;
}

.rotated {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}