/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

$color1:  #1BD181;
$color2:  #6EFFBF;
$color3:  #0033C7;
$color4:  #E2E5E7;
$color5:  #F7F7F7;
$pink:    #FEA1A1;
$peach:   #FFD6BB;
$lime:    #6EFFBF;
$dark:  #082682;